header{
    margin-bottom: 5%;
}

.imgButton{
    display: flex;
    justify-content: space-around;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
    display: flex;
    justify-content: center;
}

#imgButtonRock ,#imgButtonPaper,#imgButtonScissors{
    width: 200px;
    height: auto;
    transition-duration: 0.4s;
    transition-property:transform;
}

#imgButtonRock:hover ,#imgButtonPaper:hover,#imgButtonScissors:hover{
    transform: rotate(360deg);
}

button{
    background: none;
    border:none;
    cursor:pointer
}

#messageResult{
    margin: 3%;
    font-size:xx-large;
    display: flex;
    justify-content: center;
}

.score{
    text-align: center; 
}

.victory{
    color: green;
}

.defeat{
    color:red;
}

#imgReset{
    width: 25px;
    height: auto;
}

/* responsive */

@media screen and (max-width: 576px)  {
#imgButtonRock ,#imgButtonPaper,#imgButtonScissors{
            width: 100%;
        }

    }








